* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol {
  list-style-type: none;
  padding: 0;
  width: 80%;
}

html {
  background-color: rgb(190, 183, 183);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#listaTarefas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  background-color: grey;
  border-radius: 8px;
  border: 2px black solid;
  margin: 2rem;
  padding: 2rem;
}

#addTask {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(172, 168, 168);
  border-radius: 8px;
}

#idTasks {
  align-content: center;
}

#taskIndividual {
  display: flex;
  background-color: rgb(172, 168, 168);
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

#taskIndividualConcluida {
  display: flex;
  background-color: rgb(172, 168, 168);
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

#taskIndividual p {
  display: flex;
  align-items: center;
}

#taskIndividualConcluida p {
  display: flex;
  text-decoration: line-through;
  align-items: center;
}

#botoesInteragiveis {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 50%;
}

#nomeTarefa {
  width: 50%;
}

#estiloBotao {
  background-color: rgb(194, 188, 188);
  border: 1px solid rgb(102, 99, 99);
  border-radius: 5px;
  padding: 10px;
}

#addTaskButton {
  border-radius: 5px;
  padding: 0.5rem;
}

#addTaskInpt {
  border: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}
