* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

body {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}
#topo {
  width: 100%;
  text-align: center;
}

main {
  background-color: grey;
  border-radius: 10px;
  padding: 3rem;
}

#atividade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}

button {
  padding: 0.5rem;
}

input {
  padding: 0.5rem;
}

#barraProgresso {
  padding: 1rem;
  border: 1px black solid;
  width: 354.312px;
}

#barraProgressoWithout {
  padding: 1.55rem;
  border: 1px black solid;
  width: 354.312px;
}
