:root {
  display: flex;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#quadroAzul {
  background-color: #080c2c;
  padding: 1.5rem;
}

#quadroBranco {
  display: flex;
  background-color: #e8eff2;
  padding: 2rem;
}

#squircleAzulLeft {
  background-color: #080c2c;
  padding: 2.5rem;
  border-radius: 10px;
  margin-right: 5.2rem;
}

#squircleAzulRight {
  background-color: #080c2c;
  padding: 2.5rem;
  border-radius: 10px;
  margin-left: 5.2rem;
}
