#board-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#modalAddTask {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 600px;
  min-width: 400px;
  height: 40%;
  width: 20%;
  top: 0;
  left: 0;
}

#modal-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#buttonAddNewTask {
  position: fixed;
  right: calc(env(safe-area-inset-right, 0px) + 1rem);
  bottom: calc(env(safe-area-inset-bottom, 0px) + 1rem);
  z-index: 9999;
  padding: 1rem;
  background-color: green;
  color: white;
  border-radius: 10px;
  border: 2px rgb(1, 97, 1) solid;
}

#buttonAddNewTask:hover {
  background-color: rgb(1, 78, 1);
}

#newTask {
  display: flex;
  flex-direction: column;
}

#newTask input {
  min-width: 200px;
  width: 300px;
  margin: 0.2rem auto;
  padding: 0.4rem;
  border-radius: 8px;
  border: 1px grey solid;
}

#cabecalhoNewTask {
  display: flex;
  justify-content: center;
}

#cabecalhoNewTask button {
  position: absolute;
  justify-content: start;
}

#headerLeftNewTask {
  display: flex;
  align-items: center;
  width: 33%;
}
#headerRightNewTask {
  display: flex;
  align-items: center;
  width: 33%;
}
#headerCenterNewTask {
  display: flex;
  align-items: center;
  width: 33%;
}

#botaoAddTask {
  background-color: green;
  color: white;
  margin-top: 1rem;
  padding: 0.3rem;
  border: 2px rgb(1, 97, 1) solid;
  border-radius: 8px;
}

#botaoAddTask:hover {
  background-color: rgb(1, 97, 1);
}

#newTask label {
  margin-top: 0.6rem;
}

#botaoVoltarNewTask {
  background-color: red;
  color: white;
  padding: 0.4rem;
  border: none;
  border-radius: 8px;
}

#botaoVoltarNewTask:hover {
  background-color: rgb(212, 4, 4);
}

#board {
  display: flex;
  min-width: 1200px;
  background-color: rgb(42, 151, 42);
  min-height: 90vh;
}

.itemBoardHead {
  border-width: 2px;
  border: 1px solid rgb(2, 73, 2);
  padding: 1rem;
  min-width: 400px;
  text-align: center;
}

.itemBoardHead h3 {
  color: white;
  font-weight: normal;
}

.itemBoard {
  padding: 1rem;
  border: rgb(1, 77, 13) 2px solid;
  text-align: center;
  margin: 1rem auto;
  border-radius: 10px;
}

.itemBoardHead p {
  color: white;
  font-weight: normal;
}

@media (max-width: 1201px) {
  #board-container {
    min-width: 1200px;
    justify-content: start;
  }
}
